# Django
SECRET_KEY=tu-secret-key-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.development

# Database (producción)
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# CORS (producción)
CORS_ALLOWED_ORIGINS=https://tu-dominio.com

# Sentry (producción)
SENTRY_DSN=
